/********************************************************************
****************************** GLOBALS ******************************
*********************************************************************/

/** {
    -webkit-box-sizing: border-box; /* Safari/Chrome */
    /*-moz-box-sizing: border-box;    /* Firefox  */
    /*box-sizing: border-box;
}*/

body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: 1200px;
  margin: 0 auto;
  background-color: #0D360B;
}

h1{
  text-align: center;
  margin: 10px;
  font-size: 40px;
}

h2{
  margin: 0 0 5px 0;
  color: #709945;
}

a{
  text-decoration: none;  
}

table{
  border-collapse:collapse;
}

th{
  border: 2px solid #222;
  font-weight: bold;
  padding: 3px;
  background-color: #ccc;
}

td{
  min-width: 150px;
  border: solid 1px #555;
  padding: 4px;
  background-color: #eee;
}


/********************************************************************
******************************* MENU ********************************
*********************************************************************/

#menu_container{
  width: 1000px;
  height: 32px;
  margin: 20px auto;
  display: block;
  background-color: #3284AD;
  padding: 10px 100px;
}

#menu {
  margin: 0;
  padding: 0;
}

#menu li{
  list-style-type: none;
}

.menu_item{
  width: 220px;
  padding: 3px 0;
  margin: 0 15px;
  display: block;
  float: left;
  font-size: 22px;
  text-align: center;
  border-radius: 100px;
  background-color: #ddd;
  font-weight: bold;
  color: #3284AD;
}

.menu_item:hover{
  background-color: #eee;
  box-shadow: 0px 0px 9px #111;
  color: #3284AD;
}

.selected{
  box-shadow: 0 0 10px #111;
  background-color: #bbb;
}
/********************************************************************
**************************** SIDE_MENU ******************************
*********************************************************************/

#side_menu {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  background-color: #;
}

#side_menu li{
  list-style-type: none;
  background-color: #3284AD;
}

#side_menu_container{
  float: left;
  width: 180px;
  min-height: 450px;
  margin: 20px 0 0 -14px;
}

#side_menu_container li{

  display: block;
}

.side_menu_item{
  width: 160px;
  padding: 3px 0;
  margin: 4px 10px;
  display: block;
  float: left;
  font-size: 18px;
  text-align: center;
  border-radius: 100px;
  background-color: #3284AD;
  font-weight: bold;
  color: #ddd;
}

.side_menu_item:hover{
  background-color: #eee;
  box-shadow: 0px 0px 9px #111;
  color: #3284AD;
}



/********************************************************************
***************************** CLASSES *******************************
*********************************************************************/


.image{
  max-width: 400px;
  margin: 10px auto;
  border: 5px solid #333;
  padding: 7px;
}

.button{
  border: solid 1px #333;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #555;
  color: #eee;
  background-color: #4989D1;
  padding: 10px 0px;
  width: 220px;
  margin: 12px auto;
  display: block;
  font-weight: bold;
}

.button:hover{
  background-color: #2F6AAD;
  box-shadow: 0px 0px 9px #111;
  color: white;
}

.infobox{
  margin: 10px;
  max-width: 650px;
  float: left;
}

/********************************************************************
***************************** CONTENT *******************************
*********************************************************************/


#page_title{
  color: #1B6185;
}

#page{
  box-shadow: 0 0 20px #000;
  border-radius: 15px;
  float: left;
  background-color: #eee;
  margin: 30px 0;
  padding: 0 0 30px 0;
  min-height: 400px;
}

#header{
  margin-bottom: 30px;
/*  border: solid 2px #333;
  border-radius: 13px 13px 0 0;*/
}

#content{
  /*min-height: 400px;*/
  margin: 0px 20px;
}

#picture_box{
  width: 280px;
  float: right;
  margin-right: 10px;
  text-align: center;
}